.header {
  width: 100%;
  background-color: var(--primary-bcg);

  @media (max-width: 950px) {
    background-color: #FFF;
  }

  &__container {

    @media (max-width: 950px) {
      display: none;
    }

    width: 100%;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav {
      max-width: 540px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .link {
        color: var(--primary-color);
        font-size: 16px;

        &:visited {
          color: var(--primary-color);
        }
      }
    }

    .logo {
      min-width: 120px;
      color: var(--primary-color);
      font-size: 20px;
    }

    .links {
      max-width: 440px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      &__wrapper {
        max-width: 200px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &__item {
        background: none;
        border: none;
        cursor: pointer;
      }
    }
  }

  &__mobile {
    width: 100%;
    padding: 30px 0;
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;

    @media (max-width: 950px) {
      display: flex;
    }

    &_burger {
      background: #FFF;
    }

    &_logo {
      font-size: 15px;
      color: var(--primary-color);
    }

    &_search {
      background: #FFF;
    }
  }

  .nav__mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 85px;
    background: var(--primary-bcg);
    border-radius: 10px 10px 0 0;
    display: none;
    

    &_items {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    &_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 10px;
      color: var(--primary-color);

      span {
        margin-top: 15px;
      }
    }

    @media (max-width: 600px) {
      display: flex;
    }
  }
}