.products {
  width: 100%;
  margin-top: 100px;

  &__header {
    display: flex;
    align-items: center;
  }

  &__title {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0.03rem;

    span {
      color: var(--primary-color);
    }

    @media (max-width: 1500px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 12px;
    }
  }

  &__collapse {
    margin-left: 60px;
    display: flex;
    align-items: center;
    font-size: 22px;
    color: var(--primary-color);
    position: relative;
    cursor: pointer;

    span {
      margin-left: 20px;
      transition: all 0.2s ease-in;
    }

    &_hidden {
      transform: rotate(180deg);
    }

    @media (max-width: 1500px) {
      font-size: 16px;
    }

    @media (max-width: 600px) {
      margin-left: 20px;
      font-size: 12px;
    }
  }

  &__dropdown {
    position: absolute;
    left: 0;
    min-width: 180px;
    top: 100%;
    flex-direction: column;
    display: none;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0 0 12.5px rgba(0, 0, 0, 0.36);
    overflow: hidden;

    &_item {
      padding: 5px 10px;

      &:hover {
        background-color: var(--secondary-bcg);
      }
    }
  }

  &__dropdown_active {
    display: flex;
  }

  &__wrapper {
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &_row {
      flex-wrap: nowrap;
      overflow-x: auto;
      justify-content: flex-start;
    }
  }

  &__card {
    display: flex;
    align-items: center;
  }

  @media (max-width: 600px) {
    margin-top: 50px;
  }
}